Source: memx-accl-noavx
Maintainer: MemryX <no-reply@memryx.com>
Build-Depends: debhelper (>= 10), memx-drivers (>= 1.1.0), memx-drivers (<< 1.2.0), libssl-dev, uuid-dev

Package: memx-accl-noavx
Architecture: amd64
Depends: memx-drivers (>= 1.1.0), memx-drivers (<< 1.2.0), ${shlibs:Depends}, ${misc:Depends}
Conflicts: memx-accl
Description: MemryX Runtime API library for C++ (for x86_64 systems without AVX2)
