Source: mxa-manager
Maintainer: MemryX <no-reply@memryx.com>
Build-Depends: debhelper (>= 10), memx-drivers (>= 2.0.0), memx-drivers (<< 2.1.0), memx-accl (>= 2.0.0), memx-accl (<< 2.1.0)

Package: mxa-manager
Architecture: amd64 arm64 riscv64
Depends: memx-accl (>= 2.0.0) | memx-accl-noavx (>= 2.0.0), memx-accl (<< 2.1.0), ${shlibs:Depends}, ${misc:Depends}
Description: Hardware management daemon for MemryX MXAs
