#!/usr/bin/make -f

DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@ --with=systemd,sysuser

override_dh_install:
	dh_install build/mxa_manager/mxa_manager usr/bin/
	dh_install mxa_manager/mxa_manager.conf etc/memryx/

override_dh_systemd_enable:
	dh_systemd_enable --name=mxa-manager

override_dh_systemd_start:
	dh_systemd_start --name=mxa-manager

override_dh_installinit:
	dh_installinit --name=mxa-manager

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_gencontrol:
	sed -i -E 's/\b(sysuser-helper) \([^)]+\)/\1/g' debian/mxa-manager.substvars
	sed -i -E 's/[, ]+,/,/g; s/,\s*$$//' debian/mxa-manager.substvars
	dh_gencontrol

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	rm -rf build ; mkdir build ; cd build ; cmake -DCMAKE_BUILD_TYPE=Packaging .. && make -j 4

override_dh_auto_clean:
